.auth-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    border: 1px solid #eeee;
    border-radius: 20px;

    h1 {
        color: #000000;
    }

    &__input {
        width: 80%;
        outline: none;
        font-size: 16px;
        padding: 10px;
        margin-bottom: 10px;
        background: inherit;
        border: none;
        color: #000000;
        border-bottom: 1px solid #000000;
    }

    .errors {
        color: red;
        margin: 10px 0;
    }

    .label {
        color: #000000;
        margin: 10px 0;
        cursor: pointer;
        text-decoration: underline;
    }

    button {
        padding: 5px 25px;
        background: inherit;
        border: none;
        color: #000000;
        cursor: pointer;
        font-size: 20px;
        border: 1px solid #000000;
    }
}