.chats {
  width: 15rem;
  height: 100%;

  &-content {
    display: flex;
  }

  a {
    text-decoration: none;
    font-size: 35px;
    color: #000;
  }

  li {
    border: 1px solid #eeee;
    padding: 1.5rem 10px;
    background: #fff;
    cursor: pointer;
  }

  &Bar-item {
    li {
      font-size: 20px;
      height: 4.4rem;
      text-align: center;
      padding: 20px 34px;
    }

    &-active {
      li {
        background: #fafafa;
      }
    }
  }


}