.chats {
  border-right: 2px solid rgba(173, 173, 173, 0.93);
  height: 100%;
  width: 15%;

  a {
    text-decoration: none;
    font-size: 30px;
    color: #000;
  }

  li {
    border: 1px solid #eeee;
    padding: 1rem 10px;
    background: $mainBG;
    cursor: pointer;
  }
}