.header {
  display: flex;
  background: $layoutBG;
  justify-content: space-between;
  margin: $mainMargin auto;
  padding: $mainPadding;
  width: 95%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  height: 10vh;

  a,
  h1,
  button {
    color: $colorWhite;
  }

  &__right {
    display: flex;
    gap: 10px;
  }
}