.leftBar {
  background: $layoutBG;
  width: 7.5%;

  &-item {
  //  background: $layoutBG;
    padding: 1rem;
    border-bottom: 1px solid #eeee;
    font-size: 30px;
    color: #b4b4ff;

    text-align: center;

    :last-child {
      margin-bottom: 0;
    }

    &-active {
     color: #fff;
    }
  }
}