.leftBar {
  background: #fff;
  width: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-right: 1px solid #eee;


  &-item {
    padding: 1rem;
    font-size: 30px;
    color: #b4b4ff;
    text-align: center;
    border-bottom:1px solid #eee;

    :last-child {
      margin-bottom: 0;
    }

    &-active,
    &:hover {
      color: #7a7a7a;
    }
  }

  &-logout {
    font-size: 30px;
    padding: 1rem;
    text-align: center;
    color: #b4b4ff;
    cursor: pointer;

    &:hover {
      color: #7a7a7a;
    }
  }
}