@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Montserrat:wght@400;600;700&display=swap');
@import "./vars";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $mainBG
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: 'Geologica', sans-serif;
}

p,
li,
a,
label {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 95%;
  height: 75vh;
}

main {
  background: #fff;
  width: 100%;
}

@import "./elements";
@import "./auth";
@import "./header";
@import "./leftBar";
@import "./footer";
@import "./new-chat";
@import "./profile";
@import "./chats";
@import "./chat";